args_training: !!python/object/new:utils.AttrDict
  dictitems:
    
    
    model_name : Map8_Unet_NewRwrd_
    
    
    ## Env Params
    max_nb_steps_ratio : 0.2        ## % of the map the agent can change during an episode
    map_size : 8                    ## size of the map (square)
    
    
    
    ## DQN Params
    EPISODES : 100000               ## Nb of training episodes
    epsilon : 1.0                   ## Startin epsilon value (epsilon greedy)
    epsilon_min : 0.1               ## min eps value
    epsilon_decay : 0.9995          ## deay value, decay is epsilon*=epsilon_decay, performed once each episode
    mask_useless_action : true      ## actions which change nothing are masked
    action_select_softmax : false   ## select action using softmax instead of argmax, bad idea to do it tbh
    
    capacity : 100000               ## size of the buffer
    alpha : 0.6                     ## buffer prio param  (0 is uniform, 1 is fully prio)
    gamma : 0.95                    ## gamma of the MDP
    
    update_target_network_ep : 250  ## nb of episodes between target networks updates
    nb_of_warm_up_ep : 1000         ## nb of episodes in which to only use rdm actions
    save_weight_every_nb_ep : 1000  ## Save weights every X episodes
    
    enable_auto_curriculum : true   ## select wall and key elem spawn ratios with auto curr or with random
    
    
    
    ## Neural Net Params
    batch_size : 256
    learning_rate : 0.0001 
    clipnorm : 1.0                ## gradient clipping value (put null for none of it)
    model_type : UNet         ## architecture of the model FullyConv  FractalNet  UNet
    include_xtra_features : true   ## False: just use the current map (with embedings)  || True: add some extra channels with more features 
    opt_type : Adam                ## Adam SGD RMS
    dueling_arch : true   ## 
    loss_fn : mse                  ## is mse or huber
    
    
    
    
    
    
    
    
    
    